<!DOCTYPE html>
<html data-ng-app="maqe">
   <head>
      <title>Task for Job</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min-new.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   </head>
   <body data-ng-controller="mainCtrl">
      <div class="container-fluid">
         <h2><span>CIS Forums</span></h2>
         <p>
         <h2>Subtitle</h2>
         <p>
         <h3>Posts</h3>
         <div class="table-hover table-responsive table-bordered table-condensed">
            <table>
               <tbody ng-repeat="item in posts | limitTo:settings.pageLimit:settings.offset ">
                  <tr ng-repeat="reg in authors">
                     <td>
                        <p><img ng-src="{{item.image_url}}" class="img-url"></image>
                        </p>
                     </td>
                     <td class="item">
                        <p class="title">{{item.title}}</p>
                        <p>{{item.body}}</p>
                        <p class="timer">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 
                          {{ item.created_at | moment:'fromNow':true }} ago 
                        </p>
                     </td>
                     <td class="authors">
                        <p><img ng-src="{{reg.avatar_url}}"></image>
                        </p>
                        <p class="reg">{{reg.name}}</p>
                        <p>{{reg.role}}</p>
                        <p>{{reg.place}}
                        <p>
                     </td>
                  </tr>
               </tbody>
            </table>
            <br>
            <center>
               <simple-pagination current-page="settings.currentPage" page-limit="settings.pageLimit" offset="settings.offset" page-limits="settings.pageLimits" on-update="callback()" total="authors.length">
               </simple-pagination>
            </center>
         </div>
      </div>
      <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
      <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="stylesheets/angular-simple-pagination.css">
      <script src="javascripts/angular.min.js"></script>
      <script src="javascripts/angular-route.js"></script>
      <script src="javascripts/angular-simple-pagination.js"></script>
      <script src="javascripts/moment.js"></script>
      <script src="javascripts/app.js"></script>
      <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.css">
      <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
   </body>
</html>